#login{
  padding: 80px 10% 50px;
}

.login-container-heading{
  margin-bottom: 10px;
}

.login-container{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 30px;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 1px 12px #f2f3f4;
  gap:15px;
}

.login-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form-field input{
  width: 100%;
  padding: 15px 20px;
  font-size: 1rem;
  border: 1px solid #e4e4e4;
  outline: none;
  border-radius: 8px;
}



.btn {
  padding: 7px 16px;
border:none;
  border-radius: 40px;
  background: #4235EF;
  color: var(--second-color);
  font-weight: 500;
  max-width: 100%;
  width: 200px;
  text-align: center;
}

.btn:hover {
  background-color: rgb(65, 53, 239)rgb(61, 48, 240);
}

.error-message{
  color:red;
  font-size: .9rem;
}
