<div class="link-card">
  <div class="link-card-container">
    <div class="link-card-information">
      <p class="url-title">Python Essentials 1</p>
      <p class="url-short">
        <a
          href="bit.ly/3uPipIs
        "
        >
          bit.ly/3uPipIs
        </a>
      </p>
      <p class="url-large">
        <a
          href="https://www.credly.com/badges/b719a670-2844-4b15-9cb1-a3f75465c443"
        >
          https://www.credly.com/badges/b719a670-2844-4b15-9cb1-a3f75465c443
        </a>
      </p>
    </div>
    <div class="link-card-button">
      <button>
        Copiar
      </button>
      <button>
        Editar
      </button>
      <button>
        Eliminar
      </button>
    </div>
  </div>
</div>
