<section class="generate-link" id="generate-link">
  <app-heading-section
    title="Create Short URLs"
    subtitle="Make your URLs more elegant and easier to share. Sign up for free and get access to advanced tools: QR code generator, link management and link analysis."
  ></app-heading-section>
  <a href="" class="btn" [style]="'margin: 0 auto'"> Get Started </a>
  <div class="generate-link-container">
    <div class="generate-link-text" [style]="'margin: 0 auto 4px'">
      <input
        type="text"
        id="input-link"
        placeholder="Enter long link here"
        [formControl]="url"
      />
      <button class="btn_cut" (click)="generateShortUrl()" [disabled]="url.invalid">Shorten</button>
    </div>
    <div [hidden]="url.valid || url.pristine" [style]="'margin: 0 auto;max-width: 900px;background-color:#F8D7DA;border-radius:4px;font-size:.9rem;'">
      <span *ngIf="url.errors?.['pattern']" [style]="'padding:10px 5px;line-height:30px'">Ingrese un url válido</span>
    </div>
  </div>
</section>
<section class="generated-links" id="generated-links">
  <div class="generated-links-container">
    <div class="generated-link-info">
      <div class="short-link">
        <a href="https://tinyurl.com/3avmy95e" target="_blank"
          >https://tinyurl.com/3avmy95e</a
        >
        <div class="btn-copy-short-link">
          <span class="material-symbols-outlined">
            content_copy
            </span>
        </div>
      </div>
      <p class="url">
        https://sineace-my.sharepoint.com
      </p>
    </div>
    <div class="generated-link-info">
      <p class="short-link">
        <a href="https://tinyurl.com/3avmy95e" target="_blank"
          >https://tinyurl.com/3avmy95e</a
        >
      </p>
      <p class="url">
        https://sineace-my.sharepoint.com/
      </p>

    </div>
  </div>
</section>
